/* main */

.top-section {
    padding-top: 10rem;
}

.selected-intro+a {
    margin-right: 3rem;
}
.ellipsis-intro {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden ;
    text-overflow: ellipsis;
}
.pop-intro {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.selected-blog {
   max-width: 443px;
   max-height: 443px;
}

.first-pop-img {
    height: 233px;
    width: 100%;
    border-radius: 0.5rem;
}
.lead {
    
}
.other-pop-img {
    height: 141px;
    width: 100%;
    border-radius: 0.5rem;
}


.placeholder-box {
    background-color: #00008B;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--primary-50) !important;
}

.card-custom {
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
}

.card-custom:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.page-link {
    color: var(--primary) !important;
}

.active>.page-link,
.page-link.active {
    color: var(--secondary) !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}


@media screen and (max-width: 992px) {
    .selected-blog {
        height: 300px;
    }
    .selected-title{
        font-size: 1.6rem;
    }
    .selected-intro+a{
        margin-right: 0;
    }
}
@media screen and (max-width: 768px) {
    .first-other {
        margin-bottom: 2rem !important;
    }
}



@media screen and (min-width:768px) {
    
    .second-view {
        height: 430px;
    }
    .other-popular {
        max-width: 447px;
        max-height: 141px;
    }

}
@media screen and (min-width:992px) {
    .first-view {
        height: 443px;
    }.first-popular {
        max-width: 790px;
        max-height: 429px;
    }
    .other-popular {
        max-width: 447px;
        max-height: 429px;
    }
}