/* banner */
.banner {
	background: url("../img/login-bg.jpg") no-repeat;
	height: 100vh;
	background-position: center;
	background-size: cover;
	width: 100%;
}

.welcome {
	font-family: "inter-regular" !important;
	font-size: 50px;
}

.inno {
	font-family: "inter-regular" !important;
	font-size: 70px !important;
	font-weight: bolder !important;
}

.input-styles {
	border: 2px solid var(--primary) !important;
	background-color: transparent !important;
}

/* query */
@media screen and (max-width: 1370px) {
	.forget-password h2 {
		font-size: 1.5rem !important;
		margin-bottom: 1rem !important;
	}

	.forget-password form #email {
		height: 1px !important;
		/* width: px !important; */
	}
}