/* main */
main {
    font-family: "inter-regular" !important;
}

.banner {
    background: url("../img/login-bg.jpg") no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.welcome {
    font-family: "inter-regular" !important;
    font-size: 50px;
}

.inno {
    font-family: "inter-regular" !important;
    font-size: 70px !important;
    font-weight: bolder !important;
}

.input-styles {
    border: 3px solid var(--primary) !important;
    background-color: transparent !important;
}

.ft {
    margin-right: 32px !important;
}

/* bootstrap */
.form-check-input:checked {
    background-color: var(--primary-50) !important;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
    height: calc(3.5rem + calc(var(--bs-border-width) * 2));
    min-height: 0 !important;
    line-height: 1.25;
}

/* query */
@media screen and (max-width: 1370px) {
    #login h2 {
        font-size: 2rem !important;
        margin-bottom: 0.5rem !important;
    }

    #login form #password,
    #email {
        height: 3rem !important;
        /* width: px !important; */
    }

    .input-styles {
        border: 2px solid var(--primary) !important;
    }

    .form-floating>label {
        top: -6% !important;
    }
}