/* font */
@font-face {
    font-family: "Peyda";
    src: url(../font/Peyda-Black[@mimvid].ttf);
        /* url(../font/Peyda-Bold[@mimvid].ttf),
        url(../font/Peyda-ExtraBold[@mimvid].ttf),
        url(../font/Peyda-ExtraLight[@mimvid].ttf),
        url(../font/Peyda-Light[@mimvid].ttf),
        url(../font/Peyda-Medium[@mimvid].ttf),
        url(../font/Peyda-SemiBold[@mimvid].ttf),
        url(../font/Peyda-Thin[@mimvid].ttf); */
}
@font-face {
    font-family: "Peyda-regular";
    src: url(../font/Peyda-Regular[@mimvid].ttf);
}

@font-face {
    font-family: "Inter-black";
    src: url(../font/Inter_18pt-Black.ttf);
}

@font-face {
    font-family: "Inter-regular";
    src: url(../font/Inter_18pt-Regular.ttf);
}

/* font applyer */
.peyda-black {
    font-family: "Peyda" !important;
}
.peyda-regular {
    font-family: "Peyda-regular" !important;
}
.inter-black {
    font-family: "inter-black" !important;
}
.inter-regular {
    font-family: "inter-regular" !important;
}

/* root colors */
:root {
    --primary: #010c8e;
    --primary-50: #010C8E80;
    --secondary: #eff3ff;
    --secondary-50: #eff3ff50;
}

/* color */
.secondary-color {
    color: var(--secondary) !important;
}

.secondary-50-color {
    color: var(--secondary-50) !important;
}

.primary-color {
    color: var(--primary) !important;
}

.primary-50-color {
    color: var(--primary-50) !important;
}

/* background color */
.bg-color-primary {
    background-color: var(--primary) !important;
}

.bg-color-primary-50 {
    background-color: var(--primary-50) !important;
}

.bg-color-secondary {
    background-color: var(--secondary) !important;
}

.bg-color-secondary-50 {
    background-color: var(--secondary-50) !important;
}

.bg-transparent {
    background-color: transparent !important;
}
