{% load static %}



<div class="second-view">
    <div class="row d-flex justify-content-between">
        <div class="first-popular col-12 mb-4 mb-md-0 col-md-8 d-flex flex-column justify-content-between">
            <a class="" href="{%url 'blog:single' pid=post_first.id%}">
                <img class="first-pop-img" src="{{post_first.image.url}}" alt="">
            </a>
            <div class="content mt-3 mx-3">
                <h2 class="fw-bold">{{post_first.title|truncatechars:20}}</h2>
                <p class="ellipsis-intro lead mb-0"> {{post_first.truncated_content}} </p>
            </div>
        </div>
        {%for post in posts_second_third%}
        <div class="other-popular col-12 col-md-4  d-flex flex-column justify-content-between">
            <div class="row first-other mb-2">
                <a href="{%url 'blog:single' pid=post.id%}">
                    <img class="other-pop-img" src="{{post.image.url}}" alt="">
                </a>
                <div class="content mt-2 mx-3">
                    <h5 class="fw-bold mb-0">{{post.title|truncatechars:20}}</h5>
                    <p class="pop-intro mb-0">
                        {{post.truncated_content}}
                    </p>	
                </div>
            </div>
            {%endfor%}
            
            
        </div>
    </div>
</div>

