{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/material.css' %}" />
	<link rel="stylesheet" href="{% static 'css/additional-styles.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/login.css' %}" />
	<title>InnoWater-2.1</title>
</head>

<body>
    <!-- secondary color header -->
	<header>
		<nav class="navbar navbar-expand-md fixed-top mt-5 mx-5 mw-75 rounded-5 shadow">
			<div class="container">

				<a class="navbar-brand zoom primary-color" href="{% url 'website:home' %}">InnoWater</a>

                <!-- links -->
				<ul class="navbar-nav nav-links primary-color mx-lg-auto mb-2 mb-lg-0 justify-content-around text-nowrap"
					style="width: 35vw">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{% url 'website:home' %}">Home</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'website:about' %}">About-Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'website:contact' %}">Contact-Us</a>
					</li>
				</ul>

                <!-- icons -->
				<ul class="navbar-nav mb-0 justify-content-between align-items-center">
					<!-- search -->
					<li class="nav-item">
						<div class="dropdown">
							<button id="searchDropdown" class="btn" type="button" data-bs-toggle="dropdown"
								data-bs-auto-close="false" aria-expanded="false">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_2497_26400)">
										<path class="search-icon"
											d="M21 21L16.6569 16.6569M16.6569 16.6569C18.1046 15.2091 19 13.2091 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C13.2091 19 15.2091 18.1046 16.6569 16.6569Z"
											stroke="#010c8e" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" />
									</g>
									<defs>
										<clipPath id="clip0_2497_26400">
											<rect width="24" height="24" fill="#eff3ff" />
										</clipPath>
									</defs>
								</svg>
							</button>
							<div id="search-box"
								class="dropdown-menu search-style shadow p-3 dropdown-menu-end search-box"
								aria-labelledby="searchDropdown" style="width: 400px">
								<form class="bg-transparent border-3 border-white" id="searchForm" action="{% url 'blog:search' %}"
									method="GET">
									<div class="input-group">
										<input type="text"
											class="form-control bg-color-secondary primary-color border-3 border-white"
											name="search" placeholder="Write Here" aria-label="Search" />
										<a href="">
											<button
												class="btn search-btn bg-color-primary secondary-color rounded-start-0 shadow border-3 border-white"
												type="submit">
												Search
											</button>
										</a>
									</div>
								</form>
							</div>
						</div>
					</li>

				</ul>

				<div class="hamberger">
					<i class="fa fa-bars" id="att" aria-hidden="true" onclick="OpenHam()"></i>
				</div>
				<div class="hamberger-closed d-none">
					<i class="fa fa-times" id="att" aria-hidden="true" onclick="OpenHam()"></i>
				</div>
			</div>
		</nav>

		<div id="ham-menu">
			<div class="ham-container">
				<ul class="ham-items mb-0 container">
					<div class="hamberger-closed">
						<i class="fa fa-times" id="att" aria-hidden="true" onclick="OpenHam()"></i>
					</div>

					<!-- profile dropdown -->
					<li class="ham-items nav-items mt-3">
						<div class="dropdown-center nav-items">
							
							<button id="UserDropdown" class="btn nav-items" type="button" data-bs-toggle="dropdown"
								data-bs-auto-close="true" aria-expanded="false">
								<svg class="nav-items" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="person" d="M20 21C20 18.2386 16.4183 16 12 16C7.58172 16 4 18.2386 4 21M12 13C9.23858 13 7 10.7614 7 8C7 5.23858 9.23858 3 12 3C14.7614 3 17 5.23858 17 8C17 10.7614 14.7614 13 12 13Z"stroke="#010c8e" stroke-width="2" stroke-linecap="round"stroke-linejoin="round" />
								</svg>
							</button>
							

							<ul class="dropdown-menu ham-profile-dropdown p-3" aria-labelledby="UserDropdown">
								<li>
									<a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
										<img class="profile-avatar" src="" alt="" />
										<p class="primary-color profile-name ms-3 mb-0">
											{{request.user.username}}
										</p>
									</a>
								</li>

								<li>
									<hr class="dropdown-divider" />
								</li>

								

								<li>
									<a class="primary-color dropdown-item" href="#">Log Out</a>
								</li>
							</ul>
						</div>
					</li>

					<!-- login -->
					<li class="ham-items d-none">
						<a class="login ham-link btn bg-color-primary secondary-color rounded-5" id="login"
							href="{% url 'accounts:login' %}">Login</a>
					</li>

					<!-- page links -->
					<li class="ham-items">
						<a class="ham-link fw-bold fst-italic active" aria-current="page" href="{% url 'website:home' %}">Home</a>
					</li>
					
					<li class="ham-items">
						<a class="ham-link" href="blog.html">Blog</a>
					</li>
					<li class="ham-items">
						<a class="ham-link" href="#">About-Us</a>
					</li>
					<li class="ham-items">
						<a class="ham-link" href="{% url 'website:contact' %}">Contact-Us</a>
					</li>

					<!-- search -->
					<li class="ham-items">
						<button id="search-btn" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#searchModal" onclick="opacity()">
							<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0_2497_26400)">
										<path class="search-icon"
											d="M21 21L16.6569 16.6569M16.6569 16.6569C18.1046 15.2091 19 13.2091 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19C13.2091 19 15.2091 18.1046 16.6569 16.6569Z"
											stroke="#010c8e" stroke-width="2" stroke-linecap="round"
											stroke-linejoin="round" />
									</g>
									<defs>
										<clipPath id="clip0_2497_26400">
											<rect width="24" height="24" fill="#eff3ff" />
										</clipPath>
									</defs>
								</svg>
						</button>
					</li>

					
				</ul>
			</div>
		</div>

		<div class="modal fade search-modal-effect" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					
					<div class="modal-body">
						<div class="input-group">
							<input type="text"
								class="form-control bg-color-secondary primary-color "
								name="search" placeholder="Write Here" aria-label="Search" />
							<a href="">
								<button
									class="btn search-btn bg-color-primary secondary-color rounded-start-0 shadow "
									type="submit">
									Search
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>

	<main>
		<section class="banner d-flex align-items-center">
			<div class="container d-flex text-center justify-content-center">
				<div class="row justify-content-center align-items-center text-center">
					<div class="secondary-color">
						<h3 class="fw-bold pb-5 m-0 welcome"></h3>
						<h3 class="pb-5 m-0 inno">Welcome back</h3>
					</div>
				</div>
			</div>
			<div class="container">
				<section id="login">
					<div class="row justify-content-center">
						<div class="col-8">
							<div class="p-5">
								<h2 class="fs-1 fw-normal text-center mb-5">
									User Login
								</h2>
								<form class="form-signin" method="post" action="{% url 'accounts:login' %}">
									{% csrf_token %}
									<div class="row gy-2">
										<div class="col-12">
											<div class="form-floating mb-3">
												<!-- <div data-mdb-input-init class="form-outline form-white mb-4"> -->
													<input type="text" id="typeEmailX" class="form-control border-trans-primary rounded-5 ps-4" placeholder="" name="username" />
													<label for="typeEmailX" class="ps-4 primary-50-color">UserName</label>
												  <!-- </div> -->
							  
												  
											</div>
										</div>
										<div class="col-12">
											<div class="form-floating mb-3">
												<!-- <div data-mdb-input-init class="form-outline form-white mb-4"> -->
													<input type="password" id="typePasswordX" class="form-control border-trans-primary rounded-5 ps-4" placeholder="" name="password" />
													<label for="typePasswordX" class="ps-4 primary-50-color">Password</label>
												  <!-- </div> -->
											</div>
										</div>
										<div class="col-12">
											<div class="d-flex align-items-center gap-2 justify-content-between px-4">
												<div class="form-check">
													<input class="form-check-input me-2 input-styles" type="checkbox"
														value="" name="rememberMe" id="rememberMe" />
													<label class="form-check-label text-nowrap" for="rememberMe">
														Remember Me
													</label>
												</div>

												<a href="{% url 'accounts:password_reset_request' %}" class="btn text-nowrap text-decoration-none primary-color">Forgot password?</a>				


											</div>
										</div>
										<div class="col-12">
											<div class="d-grid my-3">
												<button class="btn bg-color-primary secondary-color rounded-5 btn-lg"
													type="submit">
													Log in
												</button>
											</div>
										</div>
										<div class="col-12">
											<p class="m-0 text-center">
												Don't have an account?
												<a href="{% url 'accounts:signup' %}" class="text-decoration-none primary-50-color">click here</a>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="forget-page" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header d-flex justify-content-center">
							<button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
							<h1 class="modal-title mx-auto fs-5 ft" id="staticBackdropLabel">Forget Password</h1>
						</div>
						<div class="modal-body">
							<form action="#!">
								<div class="row mx-5 my-3 gy-2">
									<div class="col-12">

									</div>
									<div class="col-12">
										<div class="d-grid my-3">
											<button class="btn bg-color-primary secondary-color rounded-5 btn-lg" type="submit">
												Submit
											</button>
										</div>
									</div>
									<div class="col-12">
										<p class="m-0 text-center">
											Don't have an account?
											<a href="#!" class="text-decoration-none primary-50-color">click here</a>
										</p>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


			<div class="container d-none">
				<section class="forget-password">
					<div class="row justify-content-center">
						<div class="col-8">
							<div class="p-5">
								<a href="{% url 'accounts:login' %}" class="back-btn"><svg width="24" height="24"
										viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_2497_25890)">
											<path d="M5 12H19" stroke="#010c8e" stroke-width="2" stroke-linecap="round"
												stroke-linejoin="round" />
											<path d="M12 5L5 12L12 19" stroke="#010c8e" stroke-width="2"
												stroke-linecap="round" stroke-linejoin="round" />
										</g>
										<defs>
											<clipPath id="clip0_2497_25890">
												<rect width="24" height="24" fill="white" />
											</clipPath>
										</defs>
									</svg></a>
								<h2 class="fs-1 fw-normal text-center mb-5">
									Forget Password
								</h2>
								<form action="#!">
									<div class="row gy-2">
										<div class="col-12">
											<div class="form-floating mb-3">
												<input type="email" class="form-control rounded-5 px-4 input-styles"
													name="email" id="email" placeholder="name@example.com" required />
												<label for="email" class="form-label ms-3 primary-50-color">Email
													ID</label>
											</div>
										</div>
										<div class="col-12">
											<div class="d-grid my-3">
												<button class="btn bg-color-primary secondary-color rounded-5 btn-lg"
													type="submit">
													Submit
												</button>
											</div>
										</div>
										<div class="col-12">
											<p class="m-0 text-center">
												Don't have an account?
												<a href="#!" class="text-decoration-none primary-50-color">click
													here</a>
											</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
		</section>
	</main>

	<!-- secondary nav script -->
	<script>
		const navEl = document.querySelector(".navbar");
		const navBrand = document.querySelector(".navbar-brand");
		const navLinks = document.querySelectorAll(".nav-link");
		const person = document.querySelector(".person");
		const spacer = document.querySelector(".spacer");
		const login = document.querySelector(".login");
        const signup = document.querySelector(".signup");
		const search = document.querySelector(".search-icon");
		const search_box = document.querySelectorAll(".search-box");
		const search_btn = document.querySelector(".search-btn");
		const hamberger = document.querySelector(".hamberger");
		const hamberger_closed = document.querySelector(".hamberger-closed");

		window.addEventListener("scroll", () => {
			if (window.scrollY >= 60) {
				navEl.classList.add("navbar-scrolled");
				navEl.classList.remove("mt-5", "rounded-5", "mx-5");

				navBrand.classList.add("secondary-color");
                navBrand.classList.remove("primary-color");

				hamberger.classList.add("secondary-color");
				hamberger_closed.classList.add("secondary-color");

				navLinks.forEach((link) => {
					link.classList.add("secondary-color");
				});

				search.removeAttribute("stroke");
				search.setAttribute("stroke", "#eff3ff");

				search_box.forEach((search_) => {
					search_.classList.remove("bg-color-secondary-50");
					search_.classList.add("bg-color-primary");
				});

				if (login && signup){
                    login.classList.remove("primary-color", "bg-color-secondary");
                    login.classList.add("secondary-color", "bg-color-primary");

                    signup.classList.remove("primary-color", "bg-color-secondary");
                    signup.classList.add("secondary-color", "bg-color-primary");
                }

				if (person && spacer) {
                    person.removeAttribute("stroke");
                    person.setAttribute("stroke", "#eff3ff");

                    spacer.removeAttribute("stroke");
                    spacer.setAttribute("stroke", "#eff3ff");
                }

			} else if (window.scrollY < 60) {
				navEl.classList.remove("navbar-scrolled");
				navEl.classList.add("mt-5", "rounded-5", "mx-5");

				navBrand.classList.remove("secondary-color");
                navBrand.classList.add("primary-color");

				navLinks.forEach((link) => {
					link.classList.remove("secondary-color");
				});

				hamberger.classList.remove("secondary-color");
				hamberger_closed.classList.remove("secondary-color");

				search.removeAttribute("stroke");
				search.setAttribute("stroke", "#010c8e");

				search_box.forEach((search_) => {
					search_.classList.remove("bg-color-primary");
					search_.classList.add("bg-color-secondary-50");
				});

				if (login && signup){
                    login.classList.remove("secondary-color", "bg-color-primary");
                    login.classList.add("primary-color", "bg-color-secondary");

                    signup.classList.remove("secondary-color", "bg-color-primary");
                    signup.classList.add("primary-color", "bg-color-secondary");
                }

				if (person && spacer) {
                    person.removeAttribute("stroke");
                    person.setAttribute("stroke", "#010c8e");

                    spacer.removeAttribute("stroke");
                    spacer.setAttribute("stroke", "#010c8e");
                }
			}
		});
	</script>
	<script>
		var turn = false;
		var btn = false;
		function OpenHam() {
			if (turn === false) {
				document.getElementById("ham-menu").style.transform =
					"translateX(0)";
				turn = true;
				document
					.getElementById("att")
					.classList.replace("fa-bars", "fa-times");
			} else {
				document.getElementById("ham-menu").style.transform =
					"translateX(-100%)";
				turn = false;
				document
					.getElementById("att")
					.classList.replace("fa-times", "fa-bars");
			}
		}
		function opacity() {
			if (btn === false) {
				ham_menu = document.getElementsByClassName("ham-container")
				document.getElementById("ham-menu").style.transform = "translateX(-100%)";
				document.getElementById("att").classList.replace("fa-times", "fa-bars");
				turn = false;

			}
		}
	</script>
</body>

</html>