{% load static %}

<div class="first-view">
<div class="row mb-5">
    <div class="col-6 col-lg-8 d-flex flex-column justify-content-center pe-5">
        <h1 class="selected-title fw-bold">{{post.title|truncatechars:35}}</h1>
        <p class="selected-intro ellipsis-intro lead">{{post.truncated_content}}</p>
        <a href="{%url 'blog:single' pid=post.id%}" class="btn rounded-5 bg-color-primary secondary-color text-nowrap ms-auto">Read more</a>
    </div>
    <div class="col-6 col-lg-4">
        <a href="{%url 'blog:single' pid=post.id%}">
            <div class="selected rounded-3"></div>
            <img class="selected-blog-img d-none" src="{{post.image.url}}" alt="">
        </a>
    </div>
</div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const imgElement = document.querySelector('.selected-blog-img');
            if (imgElement) {
                const imgSrc = imgElement.src; // دریافت آدرس عکس از src
                const selectedElement = document.querySelector('.selected'); // انتخاب عنصر با کلاس selected
                
                if (selectedElement) {
                    selectedElement.style.backgroundImage = `url(${imgSrc})`; // قرار دادن عکس به عنوان بک‌گراند
                }
            }
    });
</script>