/* main */
.banner {
    background: url("../img/banner.png") no-repeat;
    height: 70vh;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.border-spacer {
    border-top: 2px solid var(--primary) !important;
    margin-top: 4.5rem !important;
}

/* .card {
    border-radius: 10px;
}

.pn::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 120px;
    background-color: var(--primary-50);
    left: 25%;
    top: 15%;
    z-index: 100;
}

.pn::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 120px;
    background-color: var(--primary-50);
    left: 49.5%;
    top: 15%;
    z-index: 100;
}

.pn-price::before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 120px;
    background-color: var(--primary-50);
    right: 10%;
    top: 15%;
    z-index: 100;
}

.pn-price::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 120px;
    background-color: var(--primary-50);
    right: 32%;
    top: 15%;
    z-index: 100;
}

.border-trans-primary {
    border: 2px solid var(--primary) !important;
    background-color: transparent !important;
    box-shadow: 0 0 35px -10px black;
}

.border-input {
    border: 1px solid var(--primary) !important;
}

.border-divider {
    border-left: 2px solid var(--primary-50);
    border-right: 2px solid var(--primary-50);
}



.right-spacer {
    border-right: 1px solid var(--primary) !important;
}

.border-color {
    border-color: var(--primary) !important;
}

.btn-styles {
    border-color: var(--secondary) !important;
}

input[type="number"] {
    max-width: 60px;
}

.banner-text {
    font-family: "inter-regular" !important;
    text-shadow: -0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.836);
    font-weight: bolder;
}

@media screen and (max-width: 1200px) {
    .pn-price p {
        font-size: 1rem !important;
    }
    
} */

.card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
  }

  .input-group {
    max-width: 150px;
    margin: 0 auto;
  }

  .vertical-line {
    border-left: 2px solid #dee2e6;
    height: 100px;
    margin: 0 auto;
  }

  .price, .quantity-section, .trash-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  hr {
    border: 1px solid #dee2e6;
  }

  .btn-outline-danger i {
    font-size: 1.5rem;
  }

  .quantity-input {
    text-align: center;
    width: 50px;
    font-weight: bold;
  }