/* main */
.bg-product-photo{
    background: url("../img/product-starting-bg.jpg") no-repeat;
    width: 100%;
    height: 100vh;
    background-position:center;
    background-size: cover;
}
.h1-biger{
    font-size: 5rem;
    text-wrap: nowrap;
    font-weight: bolder;
    font-family:"Peyda";
}
.h3-bold {
    font-family: "Peyda";
}
.border-trans-primary {
    border: 3px solid var(--primary) !important;
}
.w-i-s-b{
    width: 80%;
}


.tab-menu-services .nav-item .navigation-link.active {
    border-bottom: .2rem solid var(--primary);
}

.tab-menu-services .nav-item .navigation-link {
    padding: 2.2rem 1.6rem;
    color: var(--primary-50);
    border: none;
    border-radius: 0;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-tabs .nav-item.show .navigation-link, .nav-tabs .navigation-link.active {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--secondary) var(--secondary) var(--secondary);
}

.nav-tabs .navigation-link:focus, .nav-tabs .navigation-link:hover {
    border-color: var(--secondary) var(--secondary) var(--secondary);
    isolation: isolate;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.nav-tabs .navigation-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.navigation-link:focus, .navigation-link:hover {
    color: var(--primary) !important;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.navigation-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

button, select {
    text-transform: none;
}



.product-profile{
    width: 13rem;
    height: auto;
    border:2px solid var(--primary);
}
.name-profile{
    font-size: 30px;
    font-weight: 600;
}

table tbody tr th,
table tbody tr td {
    background-color: var(--secondary) !important;
    font-size: 30px;
    color: var(--primary) !important;
}


.molad-border-btn,.back-btn-to-shop{
    border: none;
}

.comment-modal {
    z-index: 3;
}

.border-t-b{
    padding: 1px;
    border-top:3px solid var(--primary) !important;
    border-bottom:3px solid var(--primary) !important;
}


.border-trans-secondary{
    border: 3px solid var(--secondary) !important;
}

.slide-btn-1,.slide-btn-2{
    width: 4rem !important;

}
.table-s-m-l:hover{
    background-color: var(--secondary-50);

}

.table-border-left{
    border-left:3px solid var(--primary) ;
}
.table-border-bottom{
    border-bottom:3px solid var(--primary) ;
}
.line-width-m-s-l{
    border: 3px solid var(--primary);
}
.model-input-border-style{
    border: 3px solid var(--primary);
}
.modal-content{
    width: 802.13334px;
}




/* media screen
@media screen and (max-width:2560px){
}
@media screen and (max-width:1440px){
}
@media screen and (min-width:992px){
}
@media screen and (min-width:576px){
}
 */
