.border-trans-primary {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.content {
    max-width: 500px;
}
.shop-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 180px;
    border-radius: 1rem 1rem 0 0 !important;
}

.tag {
    margin: 0 0.25rem !important;
    border-radius: 2rem !important;
    border: 1px solid var(--primary) !important;
    font-weight: bold !important;
    color: var(--primary) !important;
    padding: 0 0.5rem !important;
}
.price {
    text-align: center !important;
    font-size: calc(1.325rem + .9vw) !important;
    font-weight: 700 !important;
    margin-bottom: 1rem !important;
}
.buy-btn {
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    font-weight: bold !important;
    font-size: calc(1.275rem + .3vw) !important;
    text-align: center !important;
    text-decoration: none !important;
    border-radius: 0.5rem !important;
    width: 69%;
}

@media screen and (max-width: 768px) {
    .buy-btn{
        border-radius: 2rem !important;
    }
    
}